@charset "utf-8";
/*
这里用作自定义CSS
*/

.footer{
    font-size: 0.9em;
    line-height: 1.0;
}



.reply2view {
    background:#f8f8f8;
    padding:15px 15px 15px 45px;
    position:relative
}

.reply2view i {
    display:block;
    font-size:20px;
    height:20px;
    left:10px;
    line-height:20px;
    position:absolute;
    top:15px
}